---
import BaseLayout from '../layouts/BaseLayout.astro';
import MatrixPage from "../components/MatrixPage.tsx";
---

<BaseLayout title="terminal | muffin">
    <style>
      html, body { height: 100%; overflow: hidden; background: #000; }
    </style>

    <div class="single-screen-layout">
        <MatrixPage client:load />
    </div>
</BaseLayout>